<header class="home-header container-fluid">
	<div class="row header-content-container">
		<div class="col-sm-12 col-md-12 thumbnail cover-image-header">
			<img src="http://ibcdn.imagesbazaar.com/Html2015/images/3.jpg">
			<div class="search-container">
				<div class="search">
					<input type="search" name="searchTxt" class="searchTxt">
					<span class="searchBtn">
						<input type="button" name="searchBtn" value="Search" class="btn-primary">
					</span>	
				</div>
			</div>	
		</div>
	</div>
</header>