<header class="home-header ui grid">
		<div class="sixteen wide column header-image-style">
			<img src="http://ibcdn.imagesbazaar.com/Html2015/images/3.jpg">
			<div class="search-container">
				<div class="ui action left icon input">
      				<i class="search icon"></i>
      				<input type="text" placeholder="Search...">
      				<div nav-bar-dropbox class="ui dropdown label header-dropbox">
        				<div class="text">Images</div>
	        				<i class="dropdown icon"></i>
	        				<div class="menu">
	        				<div class="item">Images</div>
	          				<div class="item">Illustration</div>
	          				<div class="item">Videos</div>
	          				<div class="item">Audio</div>
        				</div>
        				<i class="search large icon"></i>
      				</div>
    			</div>
			</div>
			<div class="home-header-content">
				<h2>750,886,95 Stock Files &amp; Continue</h2>
			</div>	
		</div>		
</header>
<main class="home-main-container ui grid container">
	<div class="home-main-title sixteen wide column">
		<h4>Browse through our huge categories of Images</h4>
	</div>
	<div class="home-main-content sixteen wide column">
		<p>All images and videos on ImagesOye are released free of copyrights under Creative Commons CCO. You may download,modify,distribute and use them royalty free for anything you like, even in commercial applications. Attribution is not required. Learn more...</p>
	</div>
	<div cardDimmer class="ui three cards">
		<div class="ui card">
		    <div class="image">
		      <div class="ui blurring inverted dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui teal button">Add Friend</div>
		          </div>
		        </div>
		      </div>
		      <img src="https://s-media-cache-ak0.pinimg.com/originals/39/e9/b3/39e9b39628e745a39f900dc14ee4d9a7.jpg" style="height: 356px">
		    </div>
		    <div class="content">
		      <div class="header">Potrait</div>
		    </div>
		</div>
		<div class="ui card">
		    <div class="image">
		      <div class="ui blurring inverted dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui teal button">Add Friend</div>
		          </div>
		        </div>
		      </div>
		      <img style="height: 356px" src="http://ichef.bbci.co.uk/wwfeatures/wm/live/1280_640/images/live/p0/4x/1l/p04x1ljr.jpg">
		    </div>
		    <div class="content">
		      <div class="header">Travel</div>
		    </div>
		</div>
		<div class="ui card">
		    <div class="image">
		      <div class="ui blurring inverted dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui teal button">Add Friend</div>
		          </div>
		        </div>
		      </div>
		      <img style="height: 356px" src="https://upload.wikimedia.org/wikipedia/commons/3/36/Hopetoun_falls.jpg">
		    </div>
		    <div class="content">
		      <div class="header">Trending</div>
		    </div>
		</div>
		<div class="ui card">
		    <div class="image">
		      <div class="ui blurring inverted dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui teal button">Add Friend</div>
		          </div>
		        </div>
		      </div>
		      <img style="height: 356px" src="https://userscontent2.emaze.com/images/a828aa84-417a-4784-afb5-ac66d7c252a5/2208df36fc9e64f723f7b7f92acc7bf4.jpg">
		    </div>
		    <div class="content">
		      <div class="header">People</div>
		    </div>
		</div>
		<div class="ui card">
		    <div class="image">
		      <div class="ui blurring inverted dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui teal button">Add Friend</div>
		          </div>
		        </div>
		      </div>
		      <img style="height: 356px" src="http://r.ddmcdn.com/w_830/s_f/o_1/cx_98/cy_0/cw_640/ch_360/APL/uploads/2015/07/cecil-AP463227356214-1000x400.jpg">
		    </div>
		    <div class="content">
		      <div class="header">Animals</div>
		    </div>
		</div>
		<div class="ui card">
		    <div class="image">
		      <div class="ui blurring inverted dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui teal button">Add Friend</div>
		          </div>
		        </div>
		      </div>
		      <img style="height: 356px" src="https://s-media-cache-ak0.pinimg.com/originals/e2/70/24/e27024586f427793216d8d58f518b3af.jpg">
		    </div>
		    <div class="content">
		      <div class="header">Toys</div>
		    </div>
		</div>
	</div>
<div class="home-main-categories ui grid container">
	<div class="category-title sixteen wide column">
		<h2>Browse all categories</h2>
	</div>
	<div class="four wide column">
		<p><a href="#">Abstract</a></p>
		<p><a href="#">Animals/Wildlife</a></p>
		<p><a href="#">The Arts</a></p>
		<p><a href="#">Backgrounds/Texture</a></p>
		<p><a href="#">Beauty/Fashion</a></p>
		<p><a href="#">Buildings/Landmarks</a></p>
		<p><a href="#">Buisness/Finance</a></p>
	</div>
	<div class="four wide column">
		<p><a href="#">Editorial</a></p>
		<p><a href="#">Education</a></p>
		<p><a href="#">Food and Drink</a></p>
		<p><a href="#">Healthcare/Medical</a></p>
		<p><a href="#">Holidays</a></p>
		<p><a href="#">Illustrations/Clip-Art</a></p>
		<p><a href="#">Industrial</a></p>
	</div>
	<div class="four wide column">
		<p><a href="#">Miscallaneous</a></p>
		<p><a href="#">Model Released Only</a></p>
		<p><a href="#">Nature</a></p>
		<p><a href="#">Objects</a></p>
		<p><a href="#">Parks/Outdoor</a></p>
		<p><a href="#">People</a></p>
		<p><a href="#">Religion</a></p>
	</div>
	<div class="four wide column">
		<p><a href="#">Signs/Symbols</a></p>
		<p><a href="#">Sports/Recreation</a></p>
		<p><a href="#">Technology</a></p>
		<p><a href="#">Transportation</a></p>
		<p><a href="#">Vectors</a></p>
		<p><a href="#">Vintage</a></p>
		<p><a href="#">Science</a></p>
	</div>
</div>
</main>