.home-header
{
	.header-image-style
	{
		 position: relative;
		 img
		 {
		 	width: 100%;
		 	height: 100vh;
		 }	 
		.search-container
		{
			position: absolute;
			top: 325px;
    		left: 444px;
    		input
    		{
    			width: 381px;
    		}
    		.header-dropbox
    		{
    			margin-left: 0px;
    			background-color: white;
    		}
		}
		.home-header-content
		{
			position: absolute;
			left: 495px;
			top: 517px;
			color: white
		}
	}
}
.home-main-container
{
	.home-main-title
	{
		text-align: center;
		h4
		{
			font-size: 27px;
		}
	}
	.home-main-content
	{
		p
		{
			font-size: 20px;
		}
	}
}
.home-main-categories
{
	color: black;
	.category-title
	{
		color: black;
		h2
		{
			text-align: center;
			margin-top: 70px;
		}
	}
}
.home-main-FindStock
{
	margin-top: 70px;
	.home-main-title
	{
		margin-bottom: 50px;
	}
	.home-main-FindStock-images-row1-images
	{
		margin-bottom: 0px !important;
		img
		{
			width: 100%;
			height: 100%;
		}
		.card-padding
		{
			padding: 3px !important;
		}		
	}
	.home-main-FindStock-images-row2-images
	{
		margin-top: 0px !important;
		img
		{
			width: 100%;
			height: 100%;
		}
		.card-padding
		{
			padding: 3px !important;
		}
		
	}
	.home-main-FindStock-images-row3-images
	{
		margin-top: 15px !important;
		img
		{
			width: 100%;
			height: 100%;
		}
		.card-padding
		{
			padding: 3px !important;
		}
		
	}
	.home-main-FindStock-images-row4-images
	{
		margin-top: 15px !important;
		img
		{
			width: 100%;
			height: 100%;
		}
		.card-padding
		{
			padding: 3px !important;
		}
		
	}
	.home-main-FindStock-button
	{
		margin-top: 50px;
    	text-align: center;
    	button
    	{
    		width: 160px;
    	}
	}
}
.home-main-featurePhotographers
{
	.title
	{
		text-align: center;
		margin-top: 70px;
		margin-bottom: 70px;
	}
}