.home-header
{
	position: relative;
	top: 60px;
	.header-content-container
	{
		.cover-image-header
		{
			padding: 0px;
			img
			{
				position: relative;
			}
			.search-container
			{
				position: absolute;
				width: 57%;
				top: 46%;
    			left: 30%;
				.search
				{
					.searchTxt
					{
						width: 80%;
					}
					.searchBtn
					{
						input
						{
							position: absolute;
						}
					}
				}
			}
		}
	}
}