
<!-- <header class="header">
		<div class="row container-fluid">
			<div class="col-sm-12 col-md-12">
				<div class="col-sm-5 col-md-5 navbar-categories">	
					<div class="category-section">
						<ul class="menu-section text-left">
							<li><a href="#">Photos</li>
							<li><a href="#">Illustration</li>
							<li><a href="#">Videos</li>
							<li><a href="#">Audio</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-7 col-md-7 navbar-menu">
						<ul class="menu text-right">
							<li>
								<div nav-bar-menu ng-mouseleave="onMouseleave();">
									<a href="javascript:void(0);" ng-mouseover="onMouseover();">Solution</a>
									<div class="menu-dropdown" ng-show="canShowMenu">
										<p><a ui-sref="app.public.solution.howItWorks" ng-click="onClick();">How it Works</a></p>
										<p><a ui-sref="app.public.solution.ourNinjas" ng-click="onClick();">Our Ninjas</a></p>
										<p><a ui-sref="app.public.solution.clients" ng-click="onClick();">Clients</a></p>
										<p><a ui-sref="app.public.startAProject" ng-click="onClick();">Start a Project</a></p>
									</div>
								</div>
							</li>
							<li><a href="#">Pricing</a></li>
							<li><a href="#">SIGN IN</a></li>
							<li><a ui-sref="signin">REGISTER</a></li>
						</ul>
					</div>
				</div>
				<header-hamburger-menu></header-hamburger-menu>
			</div>	
		</div>
</header>  -->
<!-- <div class="">
  <button class="ui button">One</button>
  <button class="ui button">Two</button>
  <button class="ui button">Three</button>
</div> -->
<header class="navbar-container">
	<div class="ui large top fixed hidden menu navbar-menu">
		<div class="ui container navbar-left-menu">
			<a class="active item" id="activeItem">Photos</a>
			<a class="item">Illustration</a>
			<a class="item">Videos</a>
			<a class="item">Audio</a>
			<div class="right menu navbar-right-menu">
				<div nav-bar-dropbox class="ui dropdown item navbar-items dropbox-menu" style="color: white">
					Explore
					<i class="dropdown icon" style="color: white"></i>
					<div class="menu">
						<div class="item">Action</div>
      					<div class="item">Another Action</div>
      					<div class="item">Something else here</div>
      					<div class="divider"></div>
      					<div class="item">Separated Link</div>
      					<div class="divider"></div>
      					<div class="item">One more separated link</div>
					</div>
				</div>
				<a class="item navbar-items">Pricing</a>
				<a ng-if="user" class="item navbar-items">SIGN OUT</a>
				<a  ng-if="!user" class="item navbar-items" ui-sref="app.public.join">SIGN IN or REGISTER</a>
			</div>
		</div>
	</div>
</header>
<ui-view></ui-view>
<footer class="footer">
	<div class="ui grid">
			<div class="four wide column">
				<h4>Company Info</h4>
				<p><a href="#">Home</a></p>
				<p><a href="#">About Us</a></p>
				<p><a href="#">Press Releases</a></p>
				<p><a href="#">Testimonials</a></p>
				<p><a href="#">Image Research</a></p>
			</div>
			<div class="four wide column">
				<h4>Learn More</h4>
				<p><a href="#">Licensing</a></p>
				<p><a href="#">Terms of Use</a></p>
				<p><a href="#">Privacy Policy</a></p>
			</div>
			<div class="four wide column">
				<h4>Need Help</h4>
				<p><a href="#">Contact Us</a></p>
				<p><a href="#">Search Tips</a></p>
				<p><a href="#">FAQ</a></p>
			</div>
			<div class="four wide column">
			<a ui-sref="app.public.examples">Go to examples</a>
			</div>
	</div>
</footer>