<header class="header container">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="header-logo">
					<a ui-sref="app.public.home">
					<img src="/imgs/logo_imagesBazaar.png">
					</a>
				</div>
			</div>	
			<div class="col-sm-12">
				
				<div class="menu-section">
					<ul class="menu text-right">
						<li><a href="#">Images</li>
						<li><a href="#">Videos</li>
						<li><a href="#">Subscription</li>
						<li><a href="#">Sign In</li>
						<li><a href="#">Help</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<ui-view></ui-view>