.header
{
	position: fixed;
	width: 100%;
	z-index: 1000;
	background-color: #f8f8f8;
	.header-logo
	{

	}
	.menu-section
	{
		margin: 2%;
		.menu
		{
			ul
			{

			}
			li
			{
				margin-right: 10px;
				font-size: 16px;
				display: inline-block;
				list-style: none;
				text-decoration: none;
    			color: black;
    			font-size: 1em;
			}
			a
			{
				color: black;
			}
		}
		.text-right
		{

		}
	}
}
.footer
{
	background: #f8f8f8;
	text-align: center;
}