<div class="ui centered grid join-container">
	<!-- <div class="sixteen wide column">
		
	</div> -->
		<div class="eight wide column">
			<h1 style="margin-top: 53px">Get started absolutely free</h1>
			<form class="ui form" ng-submit="register()">
			  <div class="field">
			    <div class="two fields">
			      <div class="field">
			        <input type="text" ng-model="user.first_name" placeholder="First Name">
			      </div>
			      <div class="field">
			        <input type="text" ng-model="user.last_name" placeholder="Last Name">
			      </div>
			    </div>
			  </div>
			  <div class="field">
			    <div class="fields">
			      <div class="sixteen wide field">
			        <input type="text" ng-model="user.email" placeholder="Email Address">
			      </div>
			    </div>
			  </div>
			  <div class="field">
			    <div class="fields">
			      <div class="sixteen wide field">
			        <input type="text" ng-model="user.password" placeholder="Password">
			      </div>
			    </div>
			  </div>
			  <div class="ui button teal" ng-click="register()" tabindex="0">Sign Up</div>
			  <im-google-auth></im-google-auth>
			  <im-facebook-auth></im-facebook-auth>
			  <!-- <h4>{{gmail.email}}</h4>
			  <h4>{{gmail.username}}</h4>
			  <img src="{{gmail.g_image}}" style="width: 100px;height: 100px">
			  <h4>{{facebook.email}}</h4>
			  <h4>{{facebook.username}}</h4>
			  <img src="{{facebook.f_image}}" style="width: 100px;height: 100px"> -->
			</form>
		</div>
</div>

